/* sidebar */
.zm-sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 90px;
  z-index: 50;
  transition: all 0.7s;
}

.zm-side-wrapper {
  width: 240px;
  position: relative;
}
.zm-brand {
  height: 70px;
  /* position: fixed; */
  top: 0;
  padding: 0 25px 0 28px;
  display: flex;
  align-items: center;
}

.zm-menu-item {
  border-left: 3px solid transparent;
}
.zm-menu-item:hover {
  color: #9b4de0;
}

.active {
  background-color: #373041;
  border-left: 3px solid #9b4de0;
}

.sidebar-divide {
  position: relative;
  height: 1px;
}

.sidebar-divide::after {
  content: '';
  border-top: 1px solid #ffffff1a;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}

.sidebar-playlist {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
}
