/* responsive */
@media (max-width: 1590px) {
  .play-list {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s;
    /* display: none; */
  }
  .zm-main {
    padding-right: 0;
    transition: padding-right 0.5s;
  }
  .header {
    margin-right: 0;
    transition: margin-right 0.5s;
  }
}
