/* responsive */
@media (max-width: 1590px) {
  .play-list {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .zm-main {
    padding-right: 0;
    transition: all 0.7s;
  }
  .header {
    padding-right: 50px;
    transition: all 0.7s;
  }
  span.divide {
    display: block;
  }
  .playlist-btn {
    display: block;
  }
}

@media (max-width: 1266px) {
  .zm-main {
    padding-left: 70px;
    transition: all 0.7s;
  }
  .header {
    padding-left: 120px;
    transition: all 0.7s;
  }
  .zm-sidebar {
    width: 70px;
    transition: all 0.5s;
  }
  .zm-menu-item {
    height: 54px;
  }
  .sidebar-divide {
    margin: 10px 0;
  }
  .zm-sidebar-wrapper {
    width: 70px;
    transition: all 0.7s;
  }
  .zm-sidebar-wrapper a {
    padding: 0 8px;
    justify-content: center;
  }
  .zm-menu-item span {
    opacity: 0;
    display: none;
  }
  .zm-brand img[name='icon'] {
    display: block;
  }
  .zm-brand img[name='logo'] {
    display: none;
  }
  .sidebar-library {
    display: none;
  }
  button.sidebar-playlist {
    display: none;
  }
  button.show-sidebar {
    display: block;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 0 30px;
  }
  .header {
    padding-left: 100px;
    padding-right: 30px;
  }
}

@media (max-width: 1100px) {
  .gallery-item {
    width: 50%;
    padding: 0 20px;
    left: 0;
  }
  .gallery-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
  }
  .gallery-item:nth-child(2) {
    transform: translateX(100%);
    opacity: 1;
    z-index: 10;
  }
  .gallery-item:nth-child(3) {
    transform: translateX(75%);
    opacity: 0;
  }
  .gallery-item:nth-child(4) {
    transform: translateX(50%);
    opacity: 0;
  }
  .gallery-item:nth-child(5) {
    transform: translateX(25%);
    opacity: 0;
  }
  .gallery-item:nth-child(n + 6) {
    transform: translateX(25%);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .lyrics-tab .lyrics-tab-thumb {
    display: none;
  }
  .lyrics-text {
    text-align: center;
  }
  .karaoke-header .header-tabs button {
    padding: 4px 20px;
  }
  .even-line,
  .odd-line {
    font-size: 40px;
  }
  .karaoke-text {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .header .header-right button:not(:nth-child(n + 4)) {
    display: none;
  }
  .even-line,
  .odd-line {
    font-size: 30px;
  }
  .karaoke-text {
    height: 250px;
  }
}

@media (max-width: 640px) {
  .header .header-right button:not(:last-child) {
    display: none;
  }
  .header .header-left button.pr-5 {
    display: none;
  }
  .gallery-container {
    overflow: hidden;
  }
  .gallery-item {
    width: 100%;
    padding: 0 30px;
    left: 0;
  }
  .gallery-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
  }
  .gallery-item:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .gallery-item:nth-child(3) {
    transform: translateX(50%);
    opacity: 0;
  }
  .gallery-item:nth-child(4) {
    transform: translateX(0);
    opacity: 0;
  }
  .gallery-item:nth-child(5) {
    transform: translateX(-50%);
    opacity: 0;
  }
  .gallery-item:nth-child(n + 6) {
    transform: translateX(-100%);
    opacity: 1;
  }

  .lyrics-text li {
    font-size: 28px;
  }
  .header-tabs {
    width: 240px;
  }
  .even-line,
  .odd-line {
    font-size: 20px;
  }
  .karaoke-text {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .video-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .video-nav {
    padding: 0 !important;
  }
  .video-nav a {
    margin: 0 10px;
  }
  .video-list {
    margin-bottom: 60px;
  }
  .profile {
    padding-top: 50px;
  }
  .author {
    padding-bottom: 82px;
  }
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .zm-main {
    padding: 0;
  }
  .header {
    padding: 0 20px;
  }
  .zm-container {
    height: calc(100vh - 120px);
    margin-top: 70px;
    padding-bottom: 0;
  }
  #zm-player {
    display: none;
  }
  .profile-nav-item {
    margin-right: 20px;
  }
  .zm-sidebar {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu-item a.active {
    color: #9b4de0;
  }
  .mobile-player {
    display: block;
  }
  .lyrics-text li {
    font-size: 20px;
    padding: 16px 0;
  }
  .chart-page-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .list-song-chart .ant-col > div {
    justify-content: flex-end;
  }
  .number-item {
    font-size: 16px;
    width: 30px;
  }
  .chart-page-header a {
    font-size: 30px;
  }
  .list-wrapper {
    padding: 0;
    margin-bottom: 60px;
  }
  .lyrics-text p {
    font-size: 24px;
  }
}
