/* responsive */
@media (max-width: 1590px) {
  .play-list {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .zm-main {
    padding-right: 0;
    transition: all 0.7s;
  }
  .header {
    padding-right: 50px;
    transition: all 0.7s;
  }
  span.divide {
    display: block;
  }
  .playlist-btn {
    display: block;
  }
}

@media (max-width: 1134px) {
  .zm-main {
    padding-left: 70px;
    transition: all 0.7s;
  }
  .header {
    padding-left: 120px;
    transition: all 0.7s;
  }
  .zm-sidebar {
    width: 70px;
    /* display: none; */
    transition: all 0.7s;
  }
}
