/* top singer */
.seection-singer-item {
  position: relative;
}
.section-card-bonus {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-card-bonus svg {
  width: 45px;
  height: 45px;
  color: white;
  display: none;
}
.section-card-bonus:hover {
  cursor: pointer;
}
.section-card-bonus:hover svg {
  display: block;
}
.singer-info {
  position: absolute;
  z-index: 10;
  bottom: 0;
}
.singer-name {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}
