/* default layout */
.zm-main {
  padding-top: 70px;
  padding-left: 240px;
  padding-right: 330px;
  width: 100%;
  height: 100vh;
  transition: all 0.7s;
}
.zm-container {
  overflow: hidden scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
}
.zm-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.zm-container::-webkit-scrollbar-track {
  background-color: #170f23;
}

.zm-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ffffff1a;
}
