/* default layout */
.zm-main {
  width: 100%;
  min-height: 100%;
  padding-left: 240px;
  padding-right: 330px;
  transition: all 0.7s;
}
.zm-container {
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 160px);
}
