/* song */
.song-item {
  object-fit: cover;
}
.song-item:hover {
  background-color: #2a213a;
  border-radius: 8px;
  cursor: default;
}
.song-item:hover .song-bonus {
  display: flex;
}
.song-item.active-play {
  background-color: #2a213a;
  border-radius: 8px;
}
.song-item.active-play-list {
  background-color: #9b4de0;
  border-radius: 8px;
}
.song-item.active-chart {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 8px;
  width: 100%;
}
.play-icon:hover {
  cursor: pointer;
}
.play-icon:hover i {
  display: block;
}

/* album */
.album-item:hover {
  background-color: #2a213a;
  border-radius: 8px;
  cursor: default;
}
.album-item:hover img[alt='album'] {
  transform: translateX(-10%);
  transition: 0.7s;
}
.album-item:hover img[alt='disk'] {
  transform: rotate(120deg);
  transition: 0.7s;
}
.album-item:hover i {
  display: block;
}
/* new song card */

.new-card-img {
  min-width: 120px;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.5s;
}
.new-card-link img {
  transform: scale(1);
  object-fit: cover;
  transition: transform 0.5s;
}
.new-card-img:hover img {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform linear 0.5s;
  opacity: 0.5;
}
.card-content-number {
  -webkit-text-stroke: 1px #fff;
  opacity: 0.4;
  font-size: 40px;
  font-weight: 900;
  color: transparent;
  line-height: 1;
}
