/* video */

.video-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.video-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.video-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ffffff1a;
}
.video-content {
  padding-left: 50px;
  padding-right: 50px;
}
.video-nav {
  padding: 0 50px;
}

.video-img img {
  transition: all 0.7s;
}
.video-img:hover img {
  transform: scale(1.1);
  transition: all 0.7s;
}
.video-play-icon {
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}
/* video modal */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translateY(100%);
  transition: all 0.5s linear;
  overflow: hidden;
}
.video-bg-blur {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #6b4a30;
}
.video-bg-img {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(80px);
}
.video-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.video-player {
  width: calc(100% - 350px);
}
.video-player video-js {
  border-radius: 6px;
  overflow: hidden;
}
/* videoJS */
.video-player video-js {
  position: relative;
}
.video-player video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.video-player video-js .vjs-control-bar {
  height: 70px;
  position: relative;
  background-color: transparent;
  bottom: 70px;
}
.vjs-button > .vjs-icon-placeholder:before {
  font-size: 30px;
  line-height: 70px;
}
.video-player .video-js .vjs-progress-control {
  position: absolute;
  top: -10px;
  width: calc(100% - 60px);
  height: 20px;
}
.video-js .vjs-remaining-time.vjs-time-control {
  position: absolute;
  right: 0;
  top: -22px;
  font-size: 14px;
}
.video-js button.vjs-control {
  position: absolute;
  width: 60px;
}
.video-player .video-js .vjs-play-control {
  left: 20px;
}
.video-player .video-js .vjs-volume-panel {
  position: absolute;
  left: 80px;
}
.video-player .video-js .vjs-volume-panel .vjs-volume-control {
  left: 60px;
  top: 20px;
}
.video-player .video-js .vjs-mute-control {
  left: 0;
}
.video-player .video-js .vjs-picture-in-picture-control {
  right: 80px;
}
.video-player .video-js .vjs-fullscreen-control {
  right: 20px;
}

/* list playing */
.list-playing-body {
  height: calc(100% - 68px);
}
.list-playing-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.list-playing-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.list-playing-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ffffff1a;
}
.list-playing-img img {
  transition: all 0.5s linear;
}
.list-playing-img:hover img {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.list-playing-icon:hover > i {
  display: block;
}

/* responsive */
@media (max-width: 1200px) {
  .video-body {
    flex-direction: column;
  }
  .video-player {
    width: 100%;
  }
  .video-body .video-queue {
    margin-top: 30px;
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
  }
  .list-playing-body .list-playing-scroll {
    overflow: scroll hidden;
  }
  .list-playing-body .list-playing-scroll > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
  }
  .list-playing-scroll .list-playing-item {
    flex-direction: column;
    width: 290px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-playing-img img {
    width: 260px;
    height: auto;
  }
  .video-queue .list-playing {
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  .video-container .video-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
