/* zing chart */
.z-chart-home {
  min-height: 400px;
  padding: 20px;
  border-radius: 8px;
  margin-top: 48px;
  position: relative;
}
.bg-blur {
  position: absolute;
  background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.53/static/media/bg-chart.fd766403.jpg)
    top/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}
.bg-gra {
  background-image: linear-gradient(180deg, #740091, #2d1a4c);
  opacity: 0.95;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}
.z-chart-header {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: normal;
  color: white;
  margin-bottom: 20px;
  text-transform: none;
}
.z-chart-header button {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
}
.number-item {
  width: 22px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: rgba(74, 144, 226, 0);
}
.number-item.is-top1 {
  -webkit-text-stroke: 1px #4a90e2;
}
.number-item.is-top2 {
  -webkit-text-stroke: 1px #50e3c2;
}
.number-item.is-top3 {
  -webkit-text-stroke: 1px #e35050;
}
.chart-singer-item:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.more-btn {
  margin-top: 10px;
  border-radius: 999px;
  color: white;
  border: 1px solid white;
  padding: 8px 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.more-btn:hover {
  color: white !important;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.zm-chart-tooltip {
  top: 0;
  left: 0;
}
.tooltip-caret {
  position: absolute;
  left: calc(50% - 10px);
  z-index: 0;
  content: '';
  top: 98%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
}
