@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
a:hover {
  color: #9b4de0;
}
boby {
  overflow: hidden !important;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #170f23;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ffffff1a;
}
