/* player music */
#zm-player .ant-row {
  height: 100%;
  align-items: center;
}
.audio-btn {
  font-size: 16px;
  margin: 0 10px;
}
.audio-play {
  font-size: 40px;
  font-weight: 200;
  margin: 0 10px;
}
.audio-play:hover {
  color: #c273ed;
}
.audio-btn > i.active-color {
  color: #9b4de0;
}
/* progress bar */
.progress-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #ffffff1d;
  border-radius: 999px;
}

.player-sub .sub-item {
  margin: 0 4px;
  font-size: 14px;
  opacity: 0.8;
}
.volume-bar {
  position: relative;
  width: 80px;
  height: 3px;
  background-color: #ffffff1d;
  border-radius: 999px;
}
.progress-bar .progress-slider,
.volume-bar .volume-slider {
  height: 100%;
  border-radius: 999px;
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
}
.progress-bar:hover,
.volume-bar:hover {
  cursor: pointer;
  height: 5px;
}
.progress-bar:hover .progress-dot,
.volume-bar:hover .volume-dot {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  z-index: 20;
  background-color: #fff;
}

/* mobile player */
.image-spin {
  animation: imageSpin 5s linear infinite;
}

@keyframes imageSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* karaoke */
.zm-karaoke {
  z-index: 40;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
  overflow: hidden;
}
.bg-blur-karaoke {
  background: url(../../assets/bg-chart.jpg) top/cover no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  filter: blur(50px);
}
.karaoke-content:hover .close-karaoke {
  display: flex;
}
.karaoke-btn.active {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: white;
}

.lyrics-text ul::-webkit-scrollbar {
  display: none;
}
.lyrics-text li {
  letter-spacing: -1;
  line-height: 1.2;
}
.header-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
