/* player music */
.player-wrapper .ant-row {
  height: 100%;
  align-items: center;
}
.player-item-img img {
  height: 64px;
}
.audio-btn {
  font-size: 16px;
  margin: 0 10px;
}
.audio-play {
  font-size: 40px;
  font-weight: 200;
  margin: 0 10px;
}
.audio-play:hover {
  color: #c273ed;
}
.audio-btn > i.active-color {
  color: #9b4de0;
}
/* progress bar */
.progress-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #ffffff1d;
  border-radius: 999px;
}

.player-sub .sub-item {
  margin: 0 4px;
  font-size: 14px;
  opacity: 0.8;
}
.volume-bar {
  position: relative;
  width: 80px;
  height: 3px;
  background-color: #ffffff1d;
  border-radius: 999px;
}
.progress-bar .progress-slider,
.volume-bar .volume-slider {
  height: 100%;
  border-radius: 999px;
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
}
.progress-bar:hover,
.volume-bar:hover {
  cursor: pointer;
  height: 5px;
}
.progress-bar:hover .progress-dot,
.volume-bar:hover .volume-dot {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  z-index: 20;
  background-color: #fff;
}
